<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste matériel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-4">

    <!-- NAVBAR SIMPLE -->
    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1> Liste du matériel</h1>

        <div>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm">
                Dashboard
            </a>

            <a href="{% url 'logout' %}" class="btn btn-dark btn-sm">
                Logout
            </a>
        </div>

    </div>

    <!-- Bouton ajouter -->
    <a href="{% url 'ajouter_materiel' %}" class="btn btn-success mb-3">
         Ajouter matériel
    </a>

    <!-- Liste -->
    <ul class="list-group">

        {% for m in materiels %}
        <li class="list-group-item d-flex justify-content-between align-items-center">

            <div>
                <strong>{{ m.nom }}</strong> - {{ m.reference }}
            </div>

            <div>
                <a href="{% url 'modifier_materiel' m.id %}" class="btn btn-primary btn-sm">
                    Modifier
                </a>

                <a href="{% url 'supprimer_materiel' m.id %}" class="btn btn-danger btn-sm">
                    Supprimer
                </a>

                <a href="{% url 'affecter_materiel' %}" class="btn btn-warning btn-sm">
                    Affecter
                </a>

                <a href="{% url 'reparation_materiel' %}" class="btn btn-info btn-sm">
                    Réparer
                </a>
            </div>

        </li>
        {% endfor %}

    </ul>

</div>

</body>
</html>